<table id="departures">
  <thead>
    <tr>
      <th>Station</th>
      <th>Departs</th>
      <th>Destination</th>
      <th>Arrives</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <% @departures.each do |departure| %>
    <% journey = departure.journey %>
    <tr>
      <td><%= "#{departure.station.name} (#{departure.station.code})" %></td>
      <td><%= departure.timetabled_at.to_s(:time) %></td>
      <td><%= "#{journey.destination_station.name} (#{journey.destination_station.code})" %></td>
      <td><%= journey.arrives_at.to_s(:time) %></td>
      <td><%= link_to "link", journey %></td>
    </tr>
    <% end %>
  </tbody>
</table>

