<% content_for :title do %>
  <title><%= "#{@journey.departs_at.to_s(:time)} #{@journey.origin_station.name} to  #{@journey.destination_station.name} on #{@journey.departs_on}" %></title>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag "http://code.google.com/apis/gears/gears_init.js" %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&region=GB"></script>
  <%= javascript_include_tag %w(jquery-1.4.2.min jquery-ui-1.8.custom.min geo record-position) %>
  <% unless Rails.env.production? %>
    <%= javascript_include_tag "geo_position_js_simulator" %>
  <% end %>
<% end %>

<br />

<table id="stops">
  <thead>
    <tr>
      <th class="name">Station</th>
      <th class="departs_at">Arrives</th>
      <th class="arrives_at">Departs</th>
      <th class="latitude">Latitude</th>
      <th class="longitude">Longitude</th>
    </tr>
  </thead>
  <tbody>
    <% @journey.each_stop do |station, arrives_at, departs_at| %>
    <tr>
      <td class="name"><%= link_to station.name, station.google_map_url %></td>
      <td class="arrives_at"><%= arrives_at.to_s(:time) if arrives_at.present? %></td>
      <td class="departs_at"><%= departs_at.to_s(:time) if departs_at.present? %></td>
      <td class="latitude"><%= station.latitude %></td>
      <td class="longitude"><%= station.longitude %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<table id="positions">
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <% @journey.positions.each do |position| %>
      <%= render :partial => position %>
    <% end %>
  </tbody>
</table>

<br />

<% form_tag "#" do %>
  <%= label_tag "log_position" %>
  <%= check_box_tag "log_position", "on", false %>
  <%= label_tag "log_interval", "every" %>
  <%= select_tag "log_interval", options_for_select((1..5)) %>
  &nbsp;minutes
<% end %>

<br />

<div id="map_canvas" style="height: 400px; width: 400px"></div>
