<% content_for :javascript do %>
  <%= javascript_include_tag "jquery-1.4.2.min" %>
  <%= javascript_include_tag "record-position" %>
  <%= javascript_include_tag "http://code.google.com/apis/gears/gears_init.js" %>
  <%= javascript_include_tag "geo" %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&region=GB"></script>
<% end %>

<br />

<table id="stops">
  <thead>
    <tr>
      <th>Station</th>
      <th>Arrives</th>
      <th>Departs</th>
    </tr>
  </thead>
  <tbody>
    <% @journey.each_stop do |station, arrives_at, departs_at| %>
    <tr>
      <td><%= "#{station.name} (#{station.code})" %></td>
      <td><%= arrives_at.to_s(:time) if arrives_at.present? %></td>
      <td><%= departs_at.to_s(:time) if departs_at.present? %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<% form_tag "#" do %>
  <%= label_tag "log_position" %>
  <%= check_box_tag "log_position", "on", false %>
  <%= label_tag "log_interval", "every" %>
  <%= select_tag "log_interval", options_for_select((1..10)) %>
  &nbsp;minutes
<% end %>

<br />

<table id="positions">
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <% @journey.positions.each do |position| %>
      <%= render :partial => position %>
    <% end %>
  </tbody>
</table>

<br />

<div id="map_canvas" style="height: 400px; width: 400px"></div>